<div class="container">
    <header>
        <div class="first"></div>
        <img src="/img/logo-mora.png" alt="Logo Mora">
        <div class="social">
            <a href="https://www.instagram.com/morasushibar/" target="_blank">
                <img src="/img/instagram.png" width="25" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/Mora-sushi-bar-189881574392466/" target="_blank">
                <img src="/img/facebook.png" width="25" alt="Facebook">
            </a>
            <a href="https://twitter.com/Mora_Pucon" target="_blank">
                <img src="/img/twitter.png" width="25" alt="Twitter">
            </a>            
        </div>
    </header>
</div>


<div class="overlay {{ .Params.bimage}}">
    <div class="purple-overlay">

        <nav class="navbar navbar-expand-sm navbar-dark" id="main-nav">
            <div class="container">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/espacio/" class="nav-link">Espacio</a>
                        </li>
                        <li class="nav-item">
                            <a href="/galeria/" class="nav-link">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sushi-colors-web.pdf" class="nav-link">Carta 2020</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="/promos/" class="nav-link">Promociones</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/contacto/" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="d-flex justify-content-center align-items-center flex-column standout">
        {{ with.Params.introhead }} 
        <h1 class="text-white text-center text-bold brush"> {{.}}
        </h1>
        {{ end }}
        {{ with.Params.introhead2 }} 
        <h1 class="text-white text-center text-bold"> {{.}}
        </h1>
        {{ end }}
        
    </div>
</div>